* {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: cornflowerblue;
}
.login {
  top: 100px;
  position: relative;
  background-origin: 4px;
  display: block;
  padding: 10px;
  width: 100%;
  background-color: cornsilk;
  max-width: 300px;
  box-shadow: 0px 2px 2px black;
}

.login form input.judul {
  padding: 10px;
  margin-bottom: 5px;
  outline: none;
  height: 40px;
  width: 100%;
  display: block;
  border: 1px solid;
  border-radius: 4px;
}

.login form button.btn-login {
  background-color: cyan;
  border-radius: 4px;
  border: 1px solid;
  padding: 10px;
  display: block;
  width: 100%;
  color: darkmagenta;
}
.login form h3.caption {
	padding: 10px 0;
	text-align: center;
}